.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.menuLink {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
  border-radius: 8px;
  text-decoration: none;
  color: black;
  background-color: var(--primary);
  transition: background 0.1s ease;
  cursor: pointer;

  &:hover {
    background: var(--primary-dark);
  }
}

.menuLink svg {
  width: 26px;
  height: 26px;
}